{% extends "base.html" %}
{% block content %}
{% include "partials/_navbar.html" %}

<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-lg-8 col-md-10 col-12 text-center">
            <h1 class="fw-bold">॥ শিবঃ ॐ ॥</h1>
            <p class="lead">পরমেশ্বর শিবের অনুসারী শিবভক্ত শৈব সনাতনী আমরা।<br>
            আমাদের উদ্দেশ্য হল, সনাতন শৈবধর্মের আদর্শকে সর্বত্র ছড়িয়ে দেওয়া।</p>
        </div>
    </div>
</div>

<div class="container mt-4">
    <div class="row">
        <div class="col-lg-10 mx-auto">
            <p class="fs-5">মহাপাশুপত অবধূত শৈব গুরু পরম্পরার পরম অদ্বৈত দর্শনের ধারক ও বাহক আমরা।
            আমাদের এই প্রতিষ্ঠানটি সমগ্র বিশ্বের সকল শিবভক্ত শৈবদের কাছে শিবের আলয়ের ন্যায় আপন, তাই আমাদের প্রতিষ্ঠান Shivalaya - ISSGT (International Shiva Shakti Gyan Tirtha)।</p>
            <p class="fs-5">আমাদের এই প্রতিষ্ঠানের প্রতিষ্ঠাতা শ্রী নন্দীনাথ শৈব আচার্য জী।
            আমরা শৈবধর্ম গুরু পরম্পরার সকল আচার সংস্কার বিষয়ে বিভিন্ন শাস্ত্রগত তথ্য প্রকাশ করে প্রচার করে থাকি, যাতে সনাতন ধর্মের এক ও অদ্বিতীয় পরমেশ্বর পরমব্রহ্ম শিবের মাহাত্ম্য বিশ্বের সকলের কাছে পৌঁছে যেতে পারে।</p>
        </div>
    </div>
</div>

<div class="container mt-4 text-center">
    <p class="fw-bold fs-4">শৈব সনাতন ধর্ম সদা বিজয়তে 🚩</p>
    <p class="fs-5">ॐ নমঃ পার্বতীপতয়ে হর হর মহাদেব 🚩</p>
</div>


{% endblock content %}