{% extends "base.html" %}
{% block content %}
{% load static %}

<section class="h-100 d-flex align-items-center justify-content-center" style="background-color: #eee; min-height: 100vh;">
    <div class="container">
      <div class="row d-flex justify-content-center align-items-center">
        <div class="col-lg-8 col-md-10 col-sm-12">
          <div class="card rounded-3 text-black shadow-lg">
            <div class="row g-0">
              <!-- Left Section -->
              <div class="col-lg-6 d-flex flex-column justify-content-center">
                <div class="card-body p-md-5 mx-md-4">
                  <div class="text-center">
                    <img src="{% static 'img/logo.png' %}" 
                      style="width: 100px;" alt="logo" class="img-fluid">
                    <h4 class="mt-1 mb-4 pb-1">শৈব ধর্ম জয়তে</h4>
                  </div>
                  {% include "partials/alerts.html" %}
  
                  <form method="POST">
                    {% csrf_token %}
                    <p>Please enter your new password</p>
  
                    <!-- Current Password Input -->
                    <div class="form-floating mb-4">
                      <input type="password" name="current_password" id="currentPassword" class="form-control" 
                        placeholder="Current Password">
                      <label for="currentPassword">Current Password</label>
                    </div>
  
                    <!-- New Password Input -->
                    <div class="form-floating mb-4">
                      <input type="password" name="new_password" id="newPassword" class="form-control" 
                        placeholder="New Password">
                      <label for="newPassword">New Password</label>
                    </div>
  
                    <!-- Confirm New Password Input -->
                    <div class="form-floating mb-4">
                      <input type="password" name="confirm_password" id="confirmPassword" class="form-control" 
                        placeholder="Confirm New Password">
                      <label for="confirmPassword">Confirm New Password</label>
                    </div>
  
                    <!-- Submit Button -->
                    <div class="text-center pt-1 mb-4">
                      <button class="btn btn-primary w-100 gradient-custom-2" type="submit">
                        Submit
                      </button>
                    </div>
  
                    <!-- Back to Dashboard -->
                    <div class="d-flex align-items-center justify-content-center pb-3">
                      <a href="{% url 'dashboard' %}" class="btn btn-outline-secondary">
                        Back to Dashboard
                      </a>
                    </div>
                  </form>
                </div>
              </div>
  
              <!-- Right Section -->
              <div class="col-lg-6 d-none d-lg-flex align-items-center gradient-custom-2">
                <div class="text-white px-3 py-4 p-md-5 mx-md-4">
                  <h4 class="mb-4">We are more than just a company</h4>
                  <p class="small mb-0">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                    tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud
                    exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
{% endblock content %}
